div#overlay {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

div#courseSelector {
    border-radius: 25px;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    filter: drop-shadow(10px 10px 0px #000000);

}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

div#exitButton {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px;
    height: 10px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 3vw
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2vw
}

#selectedCourse {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
}

.button-1 {
    appearance: button;
    background-color: #861F41;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: din-round, sans-serif;
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 30px auto;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    width: 75%;
}

.button-1:after {
    background-clip: padding-box;
    background-color: #E5751F;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-1:main,
.button-1:focus {
    user-select: auto;
}

.button-1:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-1:disabled {
    cursor: auto;
}

.button-1:active {
    border-width: 4px 0 0;
    background: none;
}


.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 40px;
    height: 40px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 20px;
    content: ' ';
    height: 45px;
    width: 4px;
    background-color: #333;
}

#close:before,
#close:after {
    position: absolute;
    top: 25%;
    left: calc(50% - .15em);
    width: .1em;
    height: 60%;
    border-radius: .125em;
    background: currentcolor;
    content: '';
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

#close {
    overflow: hidden;
    position: relative;
    border: none;
    padding: 0;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;
    position: fixed;
    top: 16px;
    right: 16px;

    &:focus {
        outline: solid 0 transparent;
        box-shadow: 0 0 0 2px #ffffff
    }

    &:hover {
        background: rgba(255, 0, 0, 0.13)
    }

    &:before,
    &:after {
        position: absolute;
        top: 15%;
        left: calc(50% - .0625em);
        width: .125em;
        height: 70%;
        border-radius: .125em;
        transform: rotate(45deg);
        background: currentcolor;
        content: ''
    }

    &:after {
        transform: rotate(-45deg);
    }
}

#logo {
    position: absolute;
    /* Position relative to the nearest positioned ancestor */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Offset by 50% of its own size to center */
    max-width: 500px;
    /* Adjust the size of the logo */
    z-index: 0.1;
    /* Ensure the logo is above the background */
}


#returnButton {
    position: absolute;
    left: 16px;
    top: 16px;
    width: 5em;
    height: 5em;
}


#returnButton {
    position: absolute;
    left: 16px;
    top: 16px;
    width: 5em;
    height: 5em;
    background-color: transparent;
    border: none;
    padding: 0; 
    display: flex;
    align-items: left;
    justify-content: left;
    border-radius: 50%;
    cursor: pointer; 
    overflow: hidden; 
}

#returnButton img {
    right: 10;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
#returnButton:hover {
    background-color: rgba(255, 0, 0, 0.13); 

}
