div#overlay{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
}
div#courseSelector{
    position: absolute;
    left:25%;
    top:25%;
    width: 50%;
    height: 50%;
    background-color: white;
}
html, 
body {
    height: 100%;
    margin:0px;
    padding: 0px;
    overflow: hidden; 
}
div#exitButton{
    position: absolute;
    width:50px;
    height:50px;
    right:10px;
    height:10px;
}
h1 { font-size: 4vw }
h2 { font-size: 3vw }